body {
  margin: 0;
  padding: 0;
  background-color: #5459e6;
  overflow-x: hidden;
  overflow-y: hidden;
}

.lottie {
  position: fixed;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}
